{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_alerts.html' %}

<div class="card">
    <div class="card-header">
        <h2>Employee Registration</h2>
    </div>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% if official_form.errors or personal_form.errors %}
                <div class="alert alert-danger">
                    <strong>Please fix the following errors:</strong>
                    {{ official_form.errors }}
                    {{ personal_form.errors }}
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">Official Details</div>
                <hr>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="reg_input_name" class="req">Register Number</label>
                            {{ official_form.official_register_number }}
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="reg_input_name" class="req">Register Date</label>
                            {{ official_form.official_register_date }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Personal Details</div>
                <hr>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="reg_input_name" class="req">Full Name</label>
                            {{ personal_form.full_name }}
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="reg_input_name" class="req">Date of Birth</label>
                            {{ personal_form.dob }}
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="reg_input_name" class="req">Another Name</label>
                            {{ personal_form.another_fullname }}
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="reg_input_name" class="req">NID</label>
                            {{ personal_form.national_id }}
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="reg_input_name" class="req">Photo</label>
                            {{ personal_form.employee_avatar }}
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}

